h1 {
		font-size: 23pt;
		padding-bottom: 5px;
	}

	.product {
		width: 25%;
		float: left;
	}
	
		 .product .info {
			margin: 10px;
			border: 1px solid #bbb;
		}
		
		 .product h2 {
			font-size: 13pt;
			line-height: 30px;
			padding: 5px 10px;
			background: #900000;
			color: #fff;
			margin: -1px -1px 0 -1px;
		}

		 .product .info h3 {
			background: #f5f5f5;
			color: #777;
			padding: 5px;
			font-size: 13pt;
			border-bottom: 1px solid #bbb;
		}
		
			.product .info h3 em {
				font-size: 8pt;
				float: right;
				line-height: 20px;
			}
		
		 .product .info p {
			padding: 5px;
			height: 150px;
			font-size: 10pt;
			background: #fff;
			line-height: 15px;
		}
		


.news {
   width: 229px;
   float: left;
   height: 120px;
   position: relative;
}

   .news h3 {
      color:#fff;
      text-shadow: 0px 0px 3px #444;
      padding: 10px;
      font-size: 16pt;
      position: absolute;
      bottom: -1px;
      right: -1px;
      left: 0px;
      background: rgba(0,0,0,0.4);
      text-align:center;
   }

   .news:hover h3
   {
    background: rgba(0,0,0,0.5);
   }
   
   .news img {
      width: 230px;
      height: 120px;
      border: 1px solid #bbb;
   }

.space_news {
   width: 15px;
   margin-left: 15px;
   float: left;
   height: 2px;
   height: 120px;
   border-left: 1px solid #ddd;
}